<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<div class="footer-content container" id="staticFooter">
    <div class="qa-nav-footer container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-6 p-0 mb-4">
                <span>Diese Seite ist Teil des Projektes</span>
                <a href="https://embsys.technikum-wien.at/projects/khat/index.php" hreflang="en" target="_blank" rel="noreferrer">Wissensdrehschreibe für Barrierefreie Technologien</a>
                <span>an der</span>
                <a href="https://www.technikum-wien.at/" target="_blank" rel="noreferrer">FH&nbsp;Technikum&nbsp;Wien</a>.
            </div>
            <div class="col-sm-12 col-md-12 col-lg-6 my-2" style="display: flex; justify-content: space-around">
                <a href="https://www.technikum-wien.at/" target="_blank" rel="noreferrer">
                    <img src="{f:uri.image(src: settings.logo.fileFHTW)}"
                         style="height: 4em; display: inline-block; margin: 0 1em 0.5em 1em; max-height: 15vw;" alt=""/>
                    <span class="sr-only">FH Technikum Wien</span>
                </a>
                <a href="https://www.wien.gv.at/kontakte/ma23/" target="_blank" rel="noreferrer">
                    <img src="{f:uri.image(src: settings.logo.fileMA23)}"
                         style="height: 4em; display: inline-block; margin: 0 1em; max-height: 15vw;" alt=""/>
                    <span class="sr-only">M A 23 Stadt Wien</span>
                </a>
            </div>
        </div>
        <nav class="row">
            <ul class="col-md-6">
                <li>
                    <f:link.page pageUid="361">
                        Impressum
                    </f:link.page>
                </li>
                <li>
                    <f:link.page pageUid="251">
                        Kontakt
                    </f:link.page>
                </li>
            </ul>
        </nav>
</html>
