body {
    word-wrap: break-word !important;
}

.navbar-mainnavigation {
    flex-flow: wrap !important;
}

header .container {
    margin-top: 1em;
    margin-bottom: 1em;
}

#mainnavigation .navbar-nav {
    margin-left: -1rem !important;
    flex-wrap: wrap !important;
}

#mainnavigation .navbar-nav .nav-link {
    color: black !important;
    font-weight: bold;
}

#wbt-header-logo {
    height: 7em;
}

.logo-container {
    justify-content: flex-start !important;
}

.logo-text {
    font-size: 1.9em;
    margin-left: 1.3em;
    padding-left: 1.3em;
    border-left: 1px solid gray;
    font-weight: bold;
}

@media (max-width: 50em) {
    #wbt-header-logo {
        height: 4em;
    }

    .logo-text {
        font-size: 1.5em;
    }
}

@media (max-width: 768px) {
    #wbt-header-logo {
        height: 15vw;
    }

    .logo-text {
        font-size: 4.1vw;
    }

    .container, .frame-container {
        max-width: 100% !important;
    }
}
